@{
    ViewBag.Title = "Engagement Media";
}
 <div class="slider-container">
                @Html.Partial("SliderPartial2")
            </div>
   
<div class="header_top">
    <div class="container">
        <!-- Contact Details -->
        <div class="after_header">
            <p style="">
                An Entirely Approachable Digital Marketing Agency
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="box">
    <div class="container">
       @* <div class="box1">
             <img src="images/vid_mar.png" width="135" alt="YouTube Advertisement">
                        <h4>YouTube Advertisement</h4>
                        <p>Communicate with the audience and get your idea home with well-planned short videos. Post your ads online and generate maximum views with our Youtube advertisement services.</p>
        </div>
            <div class="box2">
            
        </div>
        <div class="box3">
            
        </div>*@
        <ul class="boxul">
            <a href="@Url.Action("DigitalMarketingServices", "Home")">
                <li class="boxbt">
                    <div class="box1">
                        <img src="../../Content/images/digmar1.png" width="135" alt="YouTube Advertisement">
                        <h4>Digital Marketing</h4>
                        <p>We help brands build a digital marketing strategy and have a fruitful dialogue with their target audience, whether it is the whole country or just one niche community. Our insights in this aspect... <span style="color:#DD5353;">Read more</span></p>
                    </div>
               
                </li>
            </a>
            <a href="@Url.Action("WebDevelopmentServices", "Home")">
                <li class="boxbt">
                    <div class="box1">
                        <img src="../../Content/images/webdev.png" width="135" alt="YouTube Advertisement">
                        <h4>Web Development</h4>
                        <p>
We are technology focussed
Developing sites that work for you and your customers

In this rapidly changing online world, a website is much more than stunning design and great imagery. Your website is like... <span style="color:#DD5353;">Read more</span></p>
                    </div>
                </li>
            </a>
            <a href="@Url.Action("EmailMarketing","Home")">
            <li class="boxbt">
                <div class="box1">
                    <img src="../../Content/images/emailmar.png" width="135" alt="YouTube Advertisement">
                    <h4>Email Marketing</h4>
                    <p>A well thought out and executed email marketing strategy will go deeper in engaging users and help grow your online business. At Engagement Media, our professionals are as much experts on email marketing... <span style="color:#DD5353;">Read more</span></p>
                </div>

            </li>
            </a>
        </ul>
    </div>
</div>
<div class="container">
    <h2 class="head">
        We strive to make differences to people’s lives.</h2>
    <p class="para">
        Our digital ideas inspire interactive, responsive and profitable prospects for your
        business.</p>
</div>
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/index-image.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
               @* <h2>
                    This is ………………</h2>*@
                <h3>
                    Our prime concern is to provide levels of service that we can be proud of.</h3>
                <p>
                    Harnessing the combined power of creative ideas, unwavering focus, dedication, technical
                    knowledge and responsible practices our “feel good” comes from helping our clients
                    with strategic digital campaigns that imparts a measurable and ROI driven approach.
                    Our support does not stop here. We can help you make sure that your online marketing
                    strategy is targeted, effective and above all successfully producing desired results.</p>
                <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<div class="second">
    <div class="container">
        <div class="left">
            <h3 class="title">
                <span>Who we are</span>
            </h3>
            <div class="left-inner">
                <div class="left-1">
                    <ul class="list-number">
                        <li><i class="fa"><img src="../Content/images/ctv.png" width="24" height="27" /></i>      
                        <div class="extra-wrap">
                                <a class="text3">Creative</a>
                                <p>
                                    We love new challenges and like to do things creative and innovative. </p>
                            </div>
                        </li>
                        <li><i class="fa"><img src="../Content/images/ps.png" width="32" height="27" /></i>   
                            <div class="extra-wrap">
                                <a class="text3">Passionate</a>
                                <p>
                                    We are passionate and are motivated by achieving result oriented solutions.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left-2">
                    <ul class="list-number">
                        <li><i class="fa"><img src="../Content/images/cc1.png" width="40" height="30" /></i>   
                            <div class="extra-wrap">
                                <a class="text3">Customer-Centric</a>
                                <p>
                                    We strive to learn more about where they are heading.</p>
                            </div>
                        </li>
                        <li><i class="fa"><img src="../Content/images/knw.png" width="42" height="35"/></i>    
                            <div class="extra-wrap">
                                <a class="text3">Knowledgable</a>
                                <p>
                                    Looking from every angle, we come up with the best possible solutions.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="left-2">
                    <ul class="list-number">
                        <li><i class="fa"><img src="../Content/images/tie.png" width="32" height="35" /></i> 
                            <div class="extra-wrap">
                                <a class="text3">Attentive & Professional</a>
                                <p >
                                    We listen to convert your needs into an exciting online presence.</p>
                            </div>
                        </li>
                        <li><i class="fa"><img src="../Content/images/hs.png" width="35" height="27" /></i>    
                            <div class="extra-wrap">
                                <a class="text3">Friendly & Sharing</a>
                                <p>
                                    A friendly helpful bunch of people, we always care about our clients.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
                <div class="container">
                    <h2>
                        ENGAGEMENT MEDIA UNVEILING THE NEW FACE OF MARKETING</h2>
                </div>
            </div>

           