<div class="footer">
    <div class="container">
        <div class="section">
            <h3>
                About Our Company:
            </h3>
            <div class="footer-widget-content">
                <p>
                    At Engagement media we believe that the internet can generate excellent opportunity
                    for your business. Being an end to end digital marketing agency, we provide you solutions
                    on digital marketing with our plethora of services and help your business to flourish.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="footer-widget-content">
                <h3>
                    Our Office Address:</h3>
                <h3>
                    Engagement Media</h3>
                <p>
                    BH - 118, Sector - II, Salt Lake City Kolkata - 700 091. Phone : 033-40650178</p>
            </div>
            @*<h3>
                What we offer:
            </h3>
            <ul>
                <li><a href="@Url.Action("AboutUs", "Home")">About us</a></li>
                <li><a href="@Url.Action("ContactUS", "Home")">Contact Us</a></li>
                <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
                <li><a href="@Url.Action("TermAndConditions", "Home")">Terms and conditions</a></li>
            </ul>*@
        </div>
        <div class="section">
            <h3>
                Get in touch:
            </h3>
            <div class="footer-widget-content-icon">
                
                <span class="footer-social-icons">
                   
                        <a href="http://www.facebook.com/pages/Engagement-Media/114968145348912" target="_blank">
                            <img src="../../Content/images/facebook.png" alt="facebook" width="35" height="35" />
                       
                        </a>
                   
                            <a href="http://www.twitter.com/engagementmedi" target="_blank" margin="10px">
                                <img src="../../Content/images/twitter.png" width="35" height="35" />
                             
                            </a>
                      
                            <a href="http://www.linkedin.com/profile/view?id=229289313&amp;trk=hb_tab_pro_top" target="_blank">
                                <img src="../../Content/images/linkedin.png" alt="linkedin" width="35" height="35" />
                          
                            </a>
                      
                            <a href="#" target="_blank">
                                <img src="../../Content/images/googleplus.png" alt="googleplus" width="35" height="35" />
                           
                            </a>
                       
                            <a href="#" target="_blank">
                                <img src="../../Content/images/Pinterest-icon.png" alt="pinterest" width="35" height="35" />
                           
                            </a>
                       
                </span>
                <div class="Infoarea" style="color: #ffffff; margin-top: 20px;">
                    <a href="@Url.Action("AboutUs", "Home")" target="_blank">About Us</a> <a href="@Url.Action("PrivacyPolicy", "Home")" target="_blank">
                        Privacy Policy</a> <a href="@Url.Action("ContactUs", "Home")" target="_blank">Contact
                            Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p>
            © Copyright @DateTime.Now.Year Engagement Media. All Rights Reserved.</p>
           @*<div class="sociol_icon">
        <a href="#">
            <img src="../../Content/images/facebook.png" width="25" height="25" /></a>
            <a href="#">
                <img src="../../Content/images/googleplus.png" width="35" height="35" /></a>
        <a href="#">
            <img src="../../Content/images/linkedin.png" width="35" height="35" /></a>
             <a href="#">
                 <img src="../../Content/images/twitter.png" width="35" height="35" />
                 </a>
    </div>*@
    </div>
</div>
