<div class="header-top">
    <div class="container">
        <div class="logo">
           <a href="@Url.Action("Index","Home")"><img src="../../Content/images/site-title.png"/></a>
        </div>
        <div class="menu">
            <nav>
        <ul class="sf-menu" id="nav">
            <li @*class="selected"*@><a href="@Url.Action("Index", "Home")"><img src="../Content/images/hh.png" height="25" width="30"></a></li>
            <li><a href="@Url.Action("WebDevelopmentServices", "Home")">Web Development Services</a>
                <ul>
                     <li><a href="@Url.Action("WebDevelopment", "Home")">Web Development</a>
                    <li><a href="@Url.Action("Cms", "Home")">CMS</a></li>
                    <li><a href="@Url.Action("Ecommerce", "Home")">E-Commerce</a></li>
                     <li><a href="@Url.Action("WebDesigning", "Home")">Web Design</a></li>
                    @*  <li><a href="@Url.Action("ResponsiveDesign", "Home")">Responsive Design</a></li>*@
                    @* <li><a href="@Url.Action("BlogDevelopment", "Home")">Blog Development</a></li>*@
                     
                    @* <li><a href="@Url.Action("MobileMarketing", "Home")">Mobile Marketing</a></li>
                <li><a href="@Url.Action("DisplayMarketing", "Home")">Display Marketing</a></li>
                <li><a href="@Url.Action("Analytics", "Home")">Analytics</a></li>*@
                </ul>
            </li>
            <li><a href="@Url.Action("DigitalMarketingServices", "Home")">Digital Services</a>
                <ul>
                    <li><a href="@Url.Action("PPC", "Home")">PPC</a></li>
                    <li><a href="@Url.Action("Seo", "Home")">SEO</a></li>
                    <li><a href="@Url.Action("ORM", "Home")">ORM</a></li>
                    <li><a href="@Url.Action("EmailMarketing", "Home")">Email Marketing</a></li>
                    <li><a href="@Url.Action("Remarketing", "Home")">Remarketing</a></li>
                    <li><a href="@Url.Action("SocialMedia", "Home")">Social Media</a></li>
                    <li><a href="@Url.Action("MobileMarketing", "Home")">Mobile Marketing</a></li>
                    <li><a href="@Url.Action("DisplayMarketing", "Home")">Display Marketing</a></li>
                    <li><a href="@Url.Action("Analytics", "Home")">Analytics</a></li>
                </ul>
            </li>
            @* <li><a href="@Url.Action("WebDesigning", "Home")">Web Desigining</a></li>*@
                    
             <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
            <li><a href="@Url.Action("ContactUS", "Home")">Contact Us</a></li>
              <li><a href="@Url.Action("Careers", "Home")">Careers</a></li>
        </ul>
      </nav>
        </div>
    </div>
</div>
